
.container {

  position: relative;
  color: rgba(0, 0, 0, 0.54);

    .welcome-message {
      margin: 0;
      font-size: 16px;
    }
    
    .footer-message {
      margin: 3% 0%;
      font-size: 11px;
    }
    
    .loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 56px;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    mat-form-field {
      margin: 3% 0%;
      width: 50%;
      justify-content: center;
      align-items: center;
    }

    .mat-row:hover {
      background-color: #e4e4e4;
    }

    table {
      width: 100%;
      text-align: center;

      .mat-header-cell {
        color: rgba(0, 0, 0, 0.87);
      }

      .mat-cell {
        color: rgba(0, 0, 0, 0.54);
      }
  
      th {
        text-align: center;
      }
  
      td {
        padding: 0 2rem;
      }
  

      tr.detail-row {
        height: 0;
      }

      tr.element-row:not(.expanded-row):hover {
        background: whitesmoke;
      }

      tr.element-row:not(.expanded-row):active {
        background: #efefef;
      }

      .element-row td {
        border-bottom-width: 0;
      }

      .element-detail {
        overflow: hidden;
        display: flex;
        width: auto;
      }

      .image-holder {
        width: auto;
        height: auto;
        overflow: hidden;
        border: 2px solid grey;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 280px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
      }

      .element-description {
        padding: 16px;
        align-items: center;
        text-align: left;
        
        .detail-item {
          font-size: 15px;

          span {
            font-weight: 800;
          }



        }

      }

      .element-description-attribution {
        opacity: 0.5;
      }
  
      a {
        text-decoration: none;
      }
  
      button {
        font-size: 12px;
      }
  
      .mat-cell {
        font-size: 12px;
      }
  
      .button-padding-correction {
        padding-left: 16px;
      }
  
      mark {
        background-color: #3e2723;
        font-weight: 500;
        color: #e2e2e2;
      }
  
    }
  
  
    .message {
      display: none;
      visibility: hidden;
    }
  
  
  
    @media (max-width: 799px)
      and (orientation: portrait) {
  
      table {
        // hides table on devices in portrain beneath 800px
        display: none;
        visibility: hidden;
      }
  
      .message {
        display: flex;
        visibility: visible;
        animation: fadeinout 4s linear infinite;
  
        .content {
          text-align: center;
          justify-content: center;
          height: 50vh;
          margin-top: 25vh;
          font-family: 'Source Code Pro', monospace;
  
          img {
            height: auto;
            width: 30%;
          }
  
          h5 {
            margin-block-start: 0.7rem;
            margin-block-end: 0.7rem;
          }
        }
      }
  
    }

    @media (max-width: 1200px) {

      mat-form-field, .welcome-message, .footer-message {
        margin-left: 1rem;
      }

      table {

        .mat-header-cell {
          font-size: 10px;
        }

        .mat-cell {
          margin: 0;
          padding: 0;
          font: 10px;
        }

      }

    }
  
    @-webkit-keyframes fadeinout {
      0%,100% { opacity: 0.37; }
      50% { opacity: 1; }
    }
  
    @keyframes fadeinout {
      0%,100% { opacity: 0.37; }
      50% { opacity: 1; }
    }
  
  }