* {
    justify-content: center;
  }
  
  .nav-container {
  
    .mat-tab-link {
      font-family: 'Roboto', monospace;
    }
  
  
    .mat-ink-bar {
      display: none;    // disables ink underline on nav
    }
  
  }

    .filter-brown {
    filter: invert(27%) sepia(7%) saturate(1449%) hue-rotate(320deg) brightness(95%) contrast(85%);
  }

  .application-container {
    width: 99%;
  }