/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import 'theme_regular.scss';

@include mat-core($md-pwtypography);

$pwebsite-primary: mat-palette($md-pwebsite, 500);
$pwebsite-accent: mat-palette($md-pwebsiteaccent, A200, A100, A400);
$pwebsite-warn: mat-palette($mat-red);

$pwebsite-theme: mat-light-theme($pwebsite-primary, $pwebsite-accent, $pwebsite-warn);

@include angular-material-theme($pwebsite-theme);
@include mat-base-typography($md-pwtypography);


body {
  display: flex;
  justify-content: center;
  color: #2b2118;
  background-color: #F5F5F5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
